<%= month_calendar events: @calendar_registry_events do |day, events|%>
	<div>
	  <h1 class=""><%= I18n.l(day, format: :cutom_calendar)%></h1>
	</div>
	<% events.each do |event| %>
	  <div>
	    <%= link_to event.display_name, registry_event_path(event)%>
	  </div>
	<%end%>
<%end%>