<%= week_calendar events: @calendar_registry_events do |day, events| %>
    <% start = day.beginning_of_day + 7.hours%>
    <% ending = day.end_of_day - 6.hours %>

    <% while start < ending do %>
      <div class="day-hour">
        <i class="fa fa-clock-o"></i> <%= start.strftime("%I:%M %P") %> - <%= (start + 1.hour).strftime("%I:%M %P") %> 
        <br/>
        <% events.each do |event| %>
          <!--<%
            # if event.dummy_start_time.hour.between?(start.hour, (start + 1.hour).hour) 
          %>-->
          <% if event.dummy_start_time.hour == start.hour %>
            <div>
              <%= link_to event.display_name, registry_event_path(event)%>
            </div>
          <%end%>
        <%end%>
      </div>

      <% start += 1.hour %>
    <% end %>
<% end %>