<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">

    <div class="clearfix"></div>
    <div class="title_page">
        Calendario
    </div>
    <div class="x_title">
      <h2><%=@registry_event.name %></h2>
      <div class="clearfix"></div>
    </div>
    <% if notice.present?%>
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <%= notice %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Nombre:</h2>
                <h4><%= @registry_event.name %></h4>

                <h2>Fecha de Inicio:</h2>
                <h4><%= @registry_event.start_time.strftime("%d/%m/%Y %T") %></h4>

                <h2>Fecha de Fin:</h2>
                <h4><%= @registry_event.end_time.strftime("%d/%m/%Y") || @registry_event.start_time.strftime("%d/%m/%Y %T") %></h4>
                
                <h2>Colaborador</h2>
                <h4><%= @registry_event.registry_employee.display_name%></h4>

                <h2>Pacientes</h2>
                <ol>
                  <% @registry_event.registry_patients.each do |patient| %>
                    <li><h4><%= patient.display_name %></h4></li>
                  <% end %>
                </ol>
                <h2>Salón</h2>
                <h4><%= @registry_event.registry_therapy_room.display_name %>, capacidad máxima: <%= @registry_event.registry_therapy_room.capacity%> paciente</h4>

              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_registry_event_path(@registry_event), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', "#{registry_events_path}?filter[employee]=#{@registry_event.registry_employee.id}", :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>