
  <p>Estimado(a) <strong><%= @person.display_name %></strong></p>
  <br />
  <p>Se ha registrado una progración de cita / evaluación para el paciente <strong><%= @date_event.registry_patient.display_name %></strong>, visualizar este evento en sistema de registro.</p>
  <br />
  <p>**fecha de cita / evaluación : <%= @date_event.start_time_formatted %></p>
  <br />
  <p><h1>CIE</h1></p>
  <p><strong>Nota</strong><br>
  -- Este es un mensaje automatico, no responder</p>

