Estimado(a) <%= @user.name %>

Se ha registrado una progración de cita / evaluación para el paciente <%= @date_event.registry_patient.display_name %>, visualizar en sistema de registro

**fecha de cita / evaluación : <%= @date_event.start_time_formatted %>

Saludos