<%= form_for(admin_cie_role, :url => url, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if admin_cie_role.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= admin_cie_role.errors.count %> error(es) <%=t 'activerecord.errors.template.header.other', :model => 
        "rol de usuario de registro"%></h2>

      <ul>
        <% admin_cie_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>
  <div class="item form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <table class="table table-striped">
        <tr>
          <th></th>
          <% @actions.each do |action| %>
            <th><%= check_box_tag '', '', false, {class: 'select_col flat'} %> <%= action.description %></th>
          <% end %>
        </tr>
        <% @resources.each do |resource| %>
          <tr>
            <td><%= check_box_tag '', '', false, {class: 'select_row flat'} %> <%= resource.model.constantize.security_name %></td>
            <% @actions.each do |action| %>
              <% if (resource.admin_permissions.find {|permission| permission.admin_action_id == action.id && permission.admin_resource_id == resource.id}).present? %>
                
                <td>
                  <input type="hidden" name="admin_cie_role[admin_cie_role_permissions_attributes][<%=@index%>][admin_resource_id]" value="<%=resource.id%>"/>
                  <input type="hidden" name="admin_cie_role[admin_cie_role_permissions_attributes][<%=@index%>][admin_action_id]" value="<%=action.id%>"/>
                  
                  <%=checked_permission(f.object, resource, action)%>

                </td>
                <%@index+=1%>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", admin_cie_roles_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>