<%= form_for(registry_patient, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if registry_patient.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= registry_patient.errors.count %> error(es) <%=t 'activerecord.errors.template.header.other', :model => 
        t("will_paginate.models.registry_patient.one")%></h2>

      <ul>
        <% registry_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :first_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre:
    <%end%> 
      <%= f.label :first_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      <%= registry_patient.display_name %>
    <%end%>
  </div>

  <div class="item form-group">
     <%= f.label :registry_condition_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Condición:
    <%end%> 
      <%= f.label :registry_condition_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      <%= registry_patient.registry_condition.display_name %>
    <%end%>
  </div>
  
  <div class="clearfix"></div>
  <hr>
  
  <%= f.label :registry_patient_assistances, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Registro de asistencia:
  <%end%>
  <div class="clearfix"></div>
  <br>
  <%= f.fields_for :registry_patient_assistances, @registry_patient_assistance do |ff| %>
    <div class="item form-group">
      <%= ff.label :tutor, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %> 
        Tutor / Padre / Madre <span class="required">*
      <%end%>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= ff.text_field :tutor, :class=>"form-control col-md-3 col-sm-3 col-xs-12", :required=>"required"%>
      </div>
    </div>
    <div class="item form-group">
      <%= ff.label :personal_code, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %> 
        Número de Identificación <span class="required">*
      <%end%>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= ff.text_field :personal_code, :class=>"form-control col-md-3 col-sm-3 col-xs-12", :required=>"required"%>
      </div>
    </div>
    <div class="item form-group">
      <%= ff.label :registry_employee_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %> 
        Colaborador <span class="required">*
      <%end%>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <%= ff.collection_select :registry_employee_id, Registry::Employee.all.where(:active => true), :id, :display_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
      </div>
    </div>
    <div class="item form-group">
      <%= ff.label :assistance_date, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Fecha - hora <span class="required">*
      <%end%> 
      <fieldset class="col-md-3 col-sm-3 col-xs-12">
        <div class="control-group">
          <div class="controls">
            <div class="xdisplay_inputx form-group has-feedback">
              <%= ff.text_field :assistance_date, :class=>"form-control datepicker timepicker", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
              <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <% if !ff.object.new_record? %>
          <script>
            start_date = "<%=ff.object.start_time_formatted%>"
          </script>
        <% end %>
      </fieldset>
    </div>
    <div class="item form-group">
      <%= ff.label :scenario, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Escenario <span class="required">*
      <%end%> 
      <div class="col-md-3 col-sm-3 col-xs-12">
        <%= ff.select :scenario, Registry::PatientAssistance.scenario_map, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
      </div>
    </div>
  <% end %>
  


  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", registry_patient_assistance_path(registry_patient.id), :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>