<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Nuevo registro de asistencia: <%=@registry_patient.display_name%></h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<%= render 'assistance_form', registry_patient: @registry_patient %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
