<!doctype html>
<html>
<head>
	<meta charset='utf-8' />
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
	<%= wicked_pdf_stylesheet_link_tag "asistencia" -%>
	<%= wicked_pdf_javascript_include_tag "number_pages" %>
	<style>
		.alwaysbreak { page-break-before: always; }
		.nobreak:before { clear:both; }
		.nobreak { page-break-inside: avoid; }
		thead { display: table-header-group }
		tfoot { display: table-row-group }
		tr { page-break-inside: avoid }
	</style>
</head>
<body onload='number_pages'>
	<div id="header">
		<%= wicked_pdf_image_tag 'CIE_logo.png', width: 70 %>
		<span style="float:right; text-align:right">Período <em><%=@start_date%> - <%=@end_date%></em></span>
	</div>
	<div id="content">
		<header class="clearfix">
			<div id="company" class="clearfix">
				<%if @registry_patient.present?%>
					<div><span><%=@registry_patient.display_name%></span></div>
					<div>Condición: <%=@registry_patient.registry_condition.display_name%></div>
					<div>Edad: <%=@registry_patient.age%> años</div>
					<div>Persona a cargo: <%=@registry_patient.in_charge_person%></div>
					<div><a href="mailto:<%=@registry_patient.email%>"><%=@registry_patient.email%></a></div>
				<%end%>
			</div>
		</header>
		<main>
			<% Registry::Employee.where(:registry_employee_position_id => Registry::EmployeePosition.where(name: "Coordinador").pluck(:id)).each do |boss|%>
				<div class="nobreak">
					<% assistances = @patient_assistance.where("registry_employees.boss_id = ?", boss.id) %>
					
					<%if assistances.present?%>
						<div style="text-align: left; font-size: 12px; font-weight: bold; margin-bottom: 1em"><em><%= boss.display_name %> <%= boss.registry_therapy_group.present? ? "- #{boss.registry_therapy_group.display_name}" : "" %></em></div>
						<table class = "nobreak" style="border: 1px solid #ddd;">
							<thead>
								<tr>
									<th class="service" style="border: 1px solid #ddd;">No.</th>
									<th class="service" style="border: 1px solid #ddd;">Fecha</th>
									<th class="unit" style="border: 1px solid #ddd;">Hora</th>
									<th class="unit" style="border: 1px solid #ddd;">Escenario</th>
									<th class="unit" style="border: 1px solid #ddd;">Persona a cargo</th>
									<th class="unit" style="border: 1px solid #ddd;">Identicación</th>
									<th>Firma del representante</th>
									<th>Terapeuta</th>
								</tr>
							</thead>
							<tbody>
								<%assistances.reverse.each_with_index do |assistance, index|%>
									<tr>
										<td class="service" style="border: 1px solid #ddd;"><%=index+1%></td>
										<td class="service" style="border: 1px solid #ddd;"><%=assistance.assistance_date.strftime("%d/%m/%Y")%></td>
										<td class="service" style="border: 1px solid #ddd;"><%=assistance.assistance_date.strftime("%T")%></td>
										<td class="service" style="border: 1px solid #ddd;"><%=assistance.scenario%></td>
										<td class="service" style="border: 1px solid #ddd;"><%=assistance.tutor%></td>
										<td class="service" style="border: 1px solid #ddd;"><%=assistance.personal_code%></td>
										<td class="service" style="border: 1px solid #ddd;"></td>
										<td class="service" style="border: 1px solid #ddd;"><%=assistance.registry_employee.display_name%></td>
									</tr>
								<%end%>
							</tbody>
						</table>
					<%end%>
				</div>
			<%end%>
			<div id="notices">
				<div>Nota:</div>
				<div class="notice"></div>
			</div>
		</main>
	</div>
</body>
</html>