<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:Spreadsheet"
   xmlns:o="urn:schemas-microsoft-com:office:office"
   xmlns:x="urn:schemas-microsoft-com:office:excel"
   xmlns:ss="urn:schemas-microsoft-com:office:Spreadsheet"
   xmlns:html="http://www.w3.org/TR/REC-html40"> 
	<% start = Date.new.beginning_of_day + 7.hours%>
	<% ending = Date.new.end_of_day - 6.hours %>
	<% @patients.each_with_index do |patient, index| %>
		<Worksheet ss:Name="<%= patient.first_name %> <%= patient.last_name %>">
			<Table> 
   				<Column ss:AutoFitWidth="0" ss:Width="60"/> 
				<Row>
					 <Cell><Data ss:Type="String">Período <%=@start_date%> - <%=@end_date%> </Data></Cell>
				</Row> 
				<Row>
					<%if @invoice_code.present?%>
						<Cell><Data ss:Type="String">FACTURACIÓN DE HORAS TERAPIAS -- #<%=@invoice_code%></Data></Cell>
					<%else%>
						<Cell><Data ss:Type="String">FACTURACIÓN DE HORAS TERAPIAS</Data></Cell>
					<%end%>
				</Row>
				<Row></Row>
				<Row><Cell><Data ss:Type="String"><%= patient.first_name %> <%= patient.last_name %>  - <%= patient.age %> años</Data></Cell></Row>
				<% registry_events = Registry::Event.filter(:patient => patient.id) %>
				<% calendar_registry_events = registry_events.flat_map{ |e| e.calendar_events(params.fetch(:start_date, params[:filter][:start_date]).to_date, params[:filter][:end_date].to_date)} %>
				<% terapias = @services.present? ? Registry::TherapyType.where(:id => @services) : Registry::TherapyType.all %>
				<% terapias.each do |therapy|%>
					<% therapy_hour = patient.hours_to_invoice_with_therapy(@start_date,@end_date, therapy.id, calendar_registry_events) %>
					<% if therapy_hour > 0%>
						<Row></Row>
						<Row>
							<Cell><Data ss:Type="String"><%= therapy.display_name %></Data></Cell>v
						</Row>
						<Row></Row>
						<Row>
							<%if patient.patient_type == "INSS"%>
								<Cell><Data ss:Type="String">No. INSS Beneficiario</Data></Cell>
							<%end%>
							<Cell><Data ss:Type="String">Horas de Terapia</Data></Cell>
							<Cell><Data ss:Type="String">Costo de Hora</Data></Cell>
							<Cell><Data ss:Type="String">Total</Data></Cell>
						</Row>
						<Row>
							<%if patient.patient_type == "INSS"%>
								<Cell><Data ss:Type="String"><%= patient.registry_treatment_requirement.beneficiary_social_security_number %></Data></Cell>
							<%end%>
							<Cell><Data ss:Type="String"><%= therapy_hour %> hr</Data></Cell>
							
							<% if patient.patient_type_map[0].include? patient.patient_type %>
								<% hour_price = therapy.private_therapy_price %>
							<% else %>
								<% hour_price = therapy.inss_therapy_price%>
							<% end %>

							<% hour_price = 0 if patient.patient_type.blank? %>

							<Cell><Data ss:Type="String"><%=number_to_currency(hour_price.to_f)%></Data></Cell>
							<Cell><Data ss:Type="String"><%=number_to_currency(therapy_hour * hour_price.to_f) %></Data></Cell>
						</Row>
					<% end %>
				<%end%>
			</Table>
		</Worksheet>
	<%end%>
</Workbook>