<!doctype html>
<html>
<head>
	<meta charset='utf-8' />
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
	<%= wicked_pdf_stylesheet_link_tag "asistencia" -%>
	<%= wicked_pdf_javascript_include_tag "number_pages" %>
	<style>
		.alwaysbreak { page-break-before: always; }
		.nobreak:before { clear:both; }
		.nobreak { page-break-inside: avoid; }
		thead { display: table-header-group }
		tfoot { display: table-row-group }
		tr { page-break-inside: avoid }
	</style>
</head>
<body onload='number_pages'>
	<div id="header">
		<%= wicked_pdf_image_tag 'CIE_logo.png', width: 50 %>
		<span style="float:right; text-align:right">Período <em><%=@start_date%> - <%=@end_date%></em></span>
	</div>
	<div id="content">
		<header class="clearfix">
			<%if @invoice_code.present?%>
				<h1>FACTURACIÓN DE HORAS TERAPIAS -- #<%=@invoice_code%></h1>
			<%else%>
				<h1>FACTURACIÓN DE HORAS TERAPIAS</h1>
			<%end%>
		</header>
		<main>
			<div class="">
				<%total_estudiante = 0%>
				<%total_factura = 0%>
				<% start = Date.new.beginning_of_day + 7.hours%>
				<% ending = Date.new.end_of_day - 6.hours %>
				<% @patients.each_with_index do |patient, index| %>
					<div class="">
						<%patient_shown = false%>
						
						<% registry_events = Registry::Event.filter(:patient => patient.id) %>

						<% calendar_registry_events = registry_events.flat_map{ |e| e.calendar_events(params.fetch(:start_date, params[:filter][:start_date]).to_date, params[:filter][:end_date].to_date)} %>

						<div class="nobreak">
							<% terapias = @services.present? ? Registry::TherapyType.where(:id => @services) : Registry::TherapyType.all %>
							<% terapias.each do |therapy|%>
								<% therapy_hour = patient.hours_to_invoice_with_therapy(@start_date,@end_date, therapy.id, calendar_registry_events) %>
								<% if therapy_hour > 0%>
									<%if !patient_shown%>
										<div style="text-align: left; font-size: 14px; font-weight: bold; margin-bottom: 1em;"><%= patient.first_name %> <%= patient.last_name %>  - <%= patient.age %> años</div>
										<%patient_shown = true%>
									<%end%>
									<div style="text-align: left; font-size: 12px; font-weight: bold; margin-bottom: 1em"><em><%= therapy.display_name %></em></div>
									<table class="table table-striped nobreak" style="border: 1px solid #ddd;">
										<thead>
											<tr>
												<%if patient.patient_type == "INSS"%>
													<th class="unit" style="border: 1px solid #ddd;">No. INSS Beneficiario</th>
												<%end%>
												<th class="unit" style="border: 1px solid #ddd;">Horas de Terapia</th>
												<th class="unit" style="border: 1px solid #ddd;">Costo de Hora</th>
												<th class="unit" style="border: 1px solid #ddd;">Total</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<%if patient.patient_type == "INSS"%>
													<td class="service" style="border: 1px solid #ddd;"><%= patient.registry_treatment_requirement.beneficiary_social_security_number %></td>
												<%end%>
												<td class="unit" style="border: 1px solid #ddd;"><%= therapy_hour %> hr</td>
												
												<%# patient_type_map contains ["Privado","INSS"]%>
												<% if patient.patient_type_map[0].include? patient.patient_type %>
													<% hour_price = therapy.private_therapy_price %>
												<% else %>
													<% hour_price = therapy.inss_therapy_price%>
												<% end %>

												<% hour_price = 0 if patient.patient_type.blank? %>

												<td class="unit" style="border: 1px solid #ddd;"><%=number_to_currency(hour_price.to_f)%></td>

												<td class="unit" style="border: 1px solid #ddd;"><%=number_to_currency(therapy_hour * hour_price.to_f) %></td>
												<%total_factura += therapy_hour * hour_price.to_f%>
												<%total_estudiante += therapy_hour * hour_price.to_f%>
											</tr>
										</tbody>
									</table>
								<% end %>
							<% end %>
							<% if total_estudiante > 0%>
								<table class="table table-striped nobreak" style="border: 1px solid #ddd;">
									<thead>
										<tr>
											<th class="unit" style="border: 1px solid #ddd;">Subtotal</th>
											<th class="unit" style="border: 1px solid #ddd;"><%=number_to_currency(total_estudiante)%></th>
										</tr>
									</thead>
								</table>
							<%end%>
						</div>
					</div>
					<% if total_estudiante > 0%>
						<div class="alwaysbreak"></div>
						<%total_estudiante = 0 %>
					<%end%>
				<% end %>
				
				<table class="table table-striped nobreak" style="border: 1px solid #ddd;">
					<thead>
						<tr>
							<th class="unit" style="border: 1px solid #ddd;">Total <%=@start_date%> - <%=@end_date%></th>
							<th class="unit" style="border: 1px solid #ddd;"><%=number_to_currency(total_factura)%></th>
						</tr>
					</thead>
				</table>

			</div>

			<div class="alwaysbreak">

			<h1>Citas / Evaluaciones</h1>
			<table class="table table-striped nobreak" style="border: 1px solid #ddd;" >
				<thead>
					<tr>
						<th class="service">No.</th>
						<th class="service">Nombres</th>
						<th class="service">Apellidos</th>
						<th class="unit">Edad</th>
						<th class="unit">No. INSS Beneficiario</th>
						<th class="service">Tipo de Servicio</th>
						<th class="unit">Fecha</th>
						<th class="unit">Costo del Servicio</th>
						<th class="unit">Total</th>
					</tr>
				</thead>
				<tbody>
					<% start = Date.new.beginning_of_day + 7.hours%>
					<% ending = Date.new.end_of_day - 6.hours %>
					<% if  @patients.present? %>

						<% @patients.each_with_index do |patient, index| %>

							<% patient.registry_date_events.where("billable = ? and completed_date = ? and start_time between ? and ?", true, true, @start_date.to_date, @end_date.to_date).each do |date_event| %>
								<tr>
									<td class="service"><%= index + 1 %></td>
									<td class="service"><%= patient.first_name %></td>
									<td class="service"><%= patient.last_name %></td>
									<td class="service"><%= patient.age %></td>
									<td class="service"><%= patient.registry_treatment_requirement.beneficiary_social_security_number %></td>
									<td class="service"><%= date_event.date_event_type %></td>
									<td class="unit"><%= date_event.start_time.strftime("%d/%m/%Y") %></td>
										
									<%# patient_type_map contains ["Privado","INSS"]%>
									<% if patient.patient_type_map[0].include? patient.patient_type %>
										<% hour_price = Admin::Parameter.find_by(:name => date_event.date_event_type).private_hour_price %>
									<% else %>
										<% hour_price = Admin::Parameter.find_by(:name => date_event.date_event_type).inss_hour_price %>
									<% end %>

									<% hour_price = 0 if patient.patient_type.blank? %>

									<td class="unit"><%=number_to_currency(hour_price.to_f)%></td>

									<td class="unit"><%=number_to_currency(1 * hour_price.to_f) %></td>
								</tr>
							<% end %>

						<% end %>
					<% else %>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div id="notices">
				<div>Nota:</div>
				<div class="notice"></div>
			</div>
		</main>
	</div>
</body>
</html>