<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:Spreadsheet"
   xmlns:o="urn:schemas-microsoft-com:office:office"
   xmlns:x="urn:schemas-microsoft-com:office:excel"
   xmlns:ss="urn:schemas-microsoft-com:office:Spreadsheet"
   xmlns:html="http://www.w3.org/TR/REC-html40"> 
	<% start = Date.new.beginning_of_day + 7.hours%>
	<% ending = Date.new.end_of_day - 6.hours %>
	<Worksheet ss:Name="Asistencia <%= @registry_patient.present? ? @registry_patient.display_name : ''%>">
		<Table> 
			<Column ss:AutoFitWidth="0" ss:Width="60"/> 
			<Row>
				 <Cell><Data ss:Type="String">Período <%=@start_date%> - <%=@end_date%> </Data></Cell>
			</Row> 
			<Row></Row>

			<%if @registry_patient.present?%>
				<Row><Cell><Data ss:Type="String"><%=@registry_patient.display_name%></Data></Cell></Row>
				<Row><Cell><Data ss:Type="String">Condición: <%=@registry_patient.registry_condition.display_name%></Data></Cell></Row>
				<Row><Cell><Data ss:Type="String">Edad: <%=@registry_patient.age%> años</Data></Cell></Row>
				<Row><Cell><Data ss:Type="String">Persona a cargo: <%=@registry_patient.in_charge_person%></Data></Cell></Row>
				<Row><Cell><Data ss:Type="String"><%=@registry_patient.email%></Data></Cell></Row>
			<%end%>
			<Row></Row>
			<% Registry::Employee.where(:registry_employee_position_id => Registry::EmployeePosition.where(name: "Coordinador").pluck(:id)).each do |boss|%>
				<% assistances = @patient_assistance.where("registry_employees.boss_id = ?", boss.id) %>
				<%if assistances.present?%>
					<Row>
						<Cell><Data ss:Type="String"><%= boss.display_name %> <%= boss.registry_therapy_group.present? ? "- #{boss.registry_therapy_group.display_name}" : "" %></Data></Cell>
					</Row>
					<Row></Row>
					<Row>
						<Cell><Data ss:Type="String">No.</Data></Cell>
						<Cell><Data ss:Type="String">Fecha</Data></Cell>
						<Cell><Data ss:Type="String">Hora</Data></Cell>
						<Cell><Data ss:Type="String">Escenario</Data></Cell>
						<Cell><Data ss:Type="String">Persona a cargo</Data></Cell>
						<Cell><Data ss:Type="String">Identicación</Data></Cell>
						<Cell><Data ss:Type="String">Terapeuta</Data></Cell>
					</Row>
					<%assistances.reverse.each_with_index do |assistance, index|%>
						<Row>
							<Cell><Data ss:Type="Number"><%=index+1%></Data></Cell>
							<Cell><Data ss:Type="String"><%=assistance.assistance_date.strftime("%d/%m/%Y")%></Data></Cell>
							<Cell><Data ss:Type="String"><%=assistance.assistance_date.strftime("%T")%></Data></Cell>
							<Cell><Data ss:Type="String"><%=assistance.scenario%></Data></Cell>
							<Cell><Data ss:Type="String"><%=assistance.tutor%></Data></Cell>
							<Cell><Data ss:Type="String"><%=assistance.personal_code%></Data></Cell>
							<Cell><Data ss:Type="String"><%=assistance.registry_employee.display_name%></Data></Cell>
						</Row>
					<%end%>
				<%end%>
			<%end%>
		</Table>
	</Worksheet>
</Workbook>