<%= form_for(registry_therapy_type, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if registry_therapy_type.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= registry_therapy_type.errors.count %> error(es) <%=t 'activerecord.errors.template.header.other', :model => 
        t("will_paginate.models.registry_therapy_type.one")%></h2>

      <ul>
        <% registry_therapy_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :inss_therapy_price, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Precio por hora INSS <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :inss_therapy_price, :class=>"form-control col-md-7 col-xs-12 numeric-input-validated",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :private_therapy_price, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Precio por hora Privada <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :private_therapy_price, :class=>"form-control col-md-7 col-xs-12 numeric-input-validated",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12", :required=>"required"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", registry_therapy_types_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>