<%= form_for(registry_date_event, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}, remote: true) do |f| %>
  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :date_range, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Fecha <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :date_range, :class => "form-control input-sm date-range-picker datepicker", :required=>"required" %>
    </div>
  </div>
  
  <%= f.text_field :start_time, value: Date.today, type: :hidden, :class=>"start_hidden" %>
  <%= f.text_field :end_time, value: Date.today, type: :hidden, :class=>"end_hidden" %>

  <div class="item form-group">
    <%= f.label :color, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Color <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.select :color, f.object.color_map.sort, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"} %>
    </div>
  </div>
  
  <div class="item form-group">
    <%= f.label :date_event_type, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Tipo de evento <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :date_event_type, Admin::Parameter.where(:is_eval => true).order(:name), :name, :name, { include_blank: true, :required=>"required"}, {:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :registry_condition_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Paciente <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :registry_patient_id, Registry::Patient.all.order(:first_name), :id, :display_name, { include_blank: true, :required=>"required"}, {:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12", :required=>"required"%>
    </div>
  </div>

  <div class = "clearfix"></div>
  <h4 class="modal-title">Informacion del evaluador</h4>
  <div class = "clearfix"></div>
  <hr>
  
  <div class="form-group">
    <%= f.label :billable, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Facturable 
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%if current_cie_user.is_evaluator%>
        <%if f.object.new_record?%>
          <%= f.check_box :billable, :class=>"flat", :checked => true %>
        <%else%>
          <%= f.check_box :billable, :class=>"flat" %>
        <%end%>
      <%else%>
        <%if f.object.new_record?%>
          <%= f.check_box :billable, :class=>"flat", :checked => true, :disabled => :disabled%>
        <%else%>
          <%= f.check_box :billable, :class=>"flat", :disabled => :disabled%>
        <%end%>
      <%end%>
    </div>
    <div class="clearfix"></div>
  </div>
  
  <div class="form-group">
    <%= f.label :completed_date, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Cita / Evaluación Completada
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%if current_cie_user.is_evaluator%>
        <%= f.check_box :completed_date, :class=>"flat" %>
      <%else%>
        <%= f.check_box :completed_date, :class=>"flat", :disabled => :disabled%>
      <%end%>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Colaboradores <span class="required">*</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= select_tag 'registry_date_event[registry_date_event_employees_attributes][registry_employee_ids]',
      options_from_collection_for_select(Registry::Employee.where(:active => true), "id", "display_name", @selected_employee),
      {:multiple => true, :size =>10, :class=>"select2_multiple form-control"}
      %>
    </div>
  </div>
  
  <div class="item form-group">
    <%= f.label :comments, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Observaciones 
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%if current_cie_user.is_evaluator%>
        <%= f.text_area :comments, :class=>"form-control col-md-7 col-xs-12"%>
      <%else%>
        <%= f.text_area :comments, :class=>"form-control col-md-7 col-xs-12", :disabled => :disabled%>
      <%end%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'Eliminar', 
                registry_date_event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless f.object.new_record? %>
      <button id="send" type="submit" onclick="$('.container.spinner').show();" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>

