<% start = Date.new.beginning_of_day + 7.hours%>
<% ending = Date.new.end_of_day - 6.hours %>


<div style=<%= @single_report.present? ? "display: inline-block" : "width: 49%; display: inline-block"%>>
  <table class="table table-striped" style="font-size: 12px">
    <thead>
      <tr>
        <th colspan="6">
          <div style="text-align: center; text-transform: uppercase;">
            <%= @report_scenario %>, Semana de <%=I18n.l(@start_date.to_date.beginning_of_week, format: :short)%> a <%=I18n.l(@start_date.to_date.end_of_week, format: :short)%>
          </div>
        </th>
      </tr>
      <tr>
        <th >
          Colaborador
        </th>
        <th >
          Total Horas
        </th>
        <th >
          Horas Cubiertas
        </th>
        <th >
          Horas No Cubiertas
        </th>
        <th >
          % Cumplimiento
        </th>
      </tr>
    </thead>

    <tbody>
      <%total_hour_quantity = 0%>
      <%total_covered_hour = 0%>
      <%total_missing = 0%>
      <% Registry::Event.date_range(@start_date.to_date).slice(0,5).each_slice(5) do |week| %>
        <% global_hour = []%>
        <% @employees.each do |employee|%>
          <%hour_quantity = 0%>
          <%covered_hour = 0%>
          <%employee_instance = Registry::Employee.find(employee)%>
          <tr>
            <td style="padding: 10px; text-align: left; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">
              <%= employee_instance.display_name %>
            </td>
            <td style="padding: 10px; text-align: right; border-right: 1px solid #ddd">
              <% week.each_with_index do |day, index| %>
                <% global_hour[index] = global_hour[index].present? ? global_hour[index] : 0%>
                  <% while start < ending do %>
                    <% @calendar_registry_events.each do |event| %>
                        <% if event.dummy_start_time.hour == start.hour && event.registry_employee_id == employee && event.start_time.to_date == day%>
                          <% hour_quantity +=1%>
                        <%end%>
                    <% end %>
                    <% start += 1.hour %>
                  <% end %>
                  <% start = Date.new.beginning_of_day + 7.hours%>
              <% end %>
              <%= hour_quantity %>
              <% total_hour_quantity += hour_quantity%>
            </td>
            <td style="padding: 10px; text-align: right; border-right: 1px solid #ddd">
              <% week.each_with_index do |day, index| %>
                <% global_hour[index] = global_hour[index].present? ? global_hour[index] : 0%>
                  <% while start < ending do %>
                    <% @calendar_registry_events.each do |event| %>
                        <% if event.dummy_start_time.hour == start.hour && event.registry_employee_id == employee && event.start_time.to_date == day%>
                          <% if employee_instance.registry_patient_assistances.where("registry_patient_assistances.assistance_date between ? and ?",day.beginning_of_day,day.end_of_day).present? %>
                            <% covered_hour +=1%>
                          <% end %>
                        <% end %>
                    <% end %>
                    <% start += 1.hour %>
                  <% end %>
                  <% start = Date.new.beginning_of_day + 7.hours%>
              <% end %>
              <%= covered_hour %>
              <% total_covered_hour += covered_hour%>
            </td>
            <td style="padding: 10px; text-align: right; border-right: 1px solid #ddd">
              <%diff = hour_quantity - covered_hour%>
              <%= diff %>
              <% total_missing += diff%>
            </td>
            <td style="padding: 10px; text-align: right; border-right: 1px solid #ddd">
              <%= number_with_precision((covered_hour*100.00/hour_quantity), precision: 2) %>%
            </td>
          </tr>
        <%end%>
      <% end %>
      <tr>
        <td style="padding: 10px; text-align: left; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">

        </td>
        <td style="padding: 10px; text-align: right; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">
          <strong><%= total_hour_quantity %></strong>
        </td>
        <td style="padding: 10px; text-align: right; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">
          <strong><%= total_covered_hour%></strong>
        </td>
        <td style="padding: 10px; text-align: right; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">
          <strong><%= total_missing%></strong>
        </td>
        <td style="padding: 10px; text-align: left; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">

        </td>
      </tr>
    </tbody>
  </table>
</div>