<% start = Date.new.beginning_of_day + 7.hours%>
<% ending = Date.new.end_of_day - 6.hours %>


<div style=<%= @single_report.present? ? "display: inline-block" : "width: 49%; display: inline-block"%>>
  <table class="table table-striped" style="font-size: 12px">
    <thead>
      <tr>
        <th colspan="6">
          <div style="text-align: center; text-transform: uppercase;">
            <%= @report_scenario %>, Semana de <%=I18n.l(@start_date.to_date.beginning_of_week, format: :short)%> a <%=I18n.l(@start_date.to_date.end_of_week, format: :short)%>
          </div>
        </th>
      </tr>
      <tr>
        <th style="width: 90px;">
          Colaborador
        </th>
        <% Registry::Event.date_range(@start_date.to_date).slice(0,5).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday].capitalize %> <%=I18n.l(day, format: :short)%></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% Registry::Event.date_range(@start_date.to_date).slice(0,5).each_slice(5) do |week| %>
        <% global_hour = []%>
        <% @employees.each do |employee|%>
          <tr>
            <td style="padding: 10px; text-align: left; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">
              <%= Registry::Employee.find(employee).display_name %>
            </td>
            <% week.each_with_index do |day, index| %>
              <% global_hour[index] = global_hour[index].present? ? global_hour[index] : 0%>
              <td style="padding: 10px; text-align: left; border-right: 1px solid #ddd">
                <%hour_quantity = 0%>
                <% while start < ending do %>
                  <% @calendar_registry_events.each do |event| %>
                      <% if event.dummy_start_time.hour == start.hour && event.registry_employee_id == employee && event.start_time.to_date == day%>
                        <% hour_quantity +=1%>
                      <%end%>
                  <% end %>
                  <% start += 1.hour %>
                <% end %>
                <% start = Date.new.beginning_of_day + 7.hours%>
                <%= hour_quantity %>
                <% global_hour[index] += hour_quantity%>
              </td>
            <% end %>
          </tr>
        <%end%>
        <% if global_hour.present? %>
          <tr>
            <td style="padding: 10px; text-align: left; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">
              <strong>Total</strong>
            </td>
            <% week.each_with_index do |day, index| %>
              <td style="padding: 10px; text-align: left; border-right: 1px solid #ddd">
                <strong><%= global_hour[index]%></strong>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      
    </tbody>
  </table>
</div>