<% start = Date.new.beginning_of_day + 7.hours%>
<% ending = Date.new.end_of_day - 6.hours %>

<% if @patients.present? %>
  <% resources = @patients %>
<% elsif @rooms.present? %>
  <% resources = @rooms %>
<%else%>
  <% resources = @employees %>
<% end %>
<% resources.each_slice(2) do |resource_sliced| %>
  <div class="nobreak">
    <% resource_sliced.each do |resource| %>
      <table class="table table-striped nobreak" >
        <thead>
          <tr>
            <th colspan="6">
              <div style="text-align: center; text-transform: uppercase;">
                <% if @patients.present? %>
                  <% display_name = Registry::Patient.find(resource).display_name%>
                <% elsif @rooms.present? %>
                  <% display_name = Registry::TherapyRoom.find(resource).display_name%>
                <% else %>
                  <% display_name = Registry::Employee.find(resource).display_name%>
                <% end %>
                  <%= display_name %>, Semana de <%=I18n.l(@start_date.to_date.beginning_of_week, format: :short)%> a <%=I18n.l(@start_date.to_date.end_of_week, format: :short)%>
              </div>
            </th>
          </tr>
          <tr>
            <th style="width: 90px;">
              Horario
            </th>
            <% Registry::Event.date_range(@start_date.to_date).slice(0,5).each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday].capitalize %> <%=I18n.l(day, format: :short)%></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <%valueSet = false%>
          <% Registry::Event.date_range(@start_date.to_date).slice(0,5).each_slice(5) do |week| %>
            <% while start < ending do %>
              <tr>
                <td style="padding: 5px; text-align: left; border-right: 1px solid #ddd; border-left: 1px solid #ddd; font-size: 14px !important">
                <i class="fa fa-clock-o"></i> <%= start.strftime("%I %P") %> - <%= (start + 1.hour).strftime("%I %P") %></td>
                <% week.each do |day| %>
                  <td style="padding: 5px; text-align: left; border-right: 1px solid #ddd; font-size: 12px !important">
                    <% @calendar_registry_events.each do |event| %>
                      <%if !valueSet%>
                        <% if @patients.present? %>
                          <% if event.dummy_start_time.hour == start.hour && event.registry_patient_ids.include?(resource) && event.start_time.to_date == day%>
                            <% event.registry_patients.each do |patient|%>
                              <p><%= event.registry_employee.display_name%> - <%= event.registry_therapy_room.display_name%> - <%= patient.display_name%></p>
                            <% end %>
                            <%valueSet = true%>
                          <%end%>
                        <% elsif @rooms.present? %>
                          <% if event.dummy_start_time.hour == start.hour && event.registry_therapy_room_id == resource && event.start_time.to_date == day%>
                            <p><%= event.display_name%> - <%= event.registry_employee.display_name%></p>
                            <%valueSet = true%>
                          <%end%>
                        <% else %>
                          <% if event.dummy_start_time.hour == start.hour && event.registry_employee_id == resource && event.start_time.to_date == day%>
                            <% event.registry_patients.each do |patient|%> 
                              <p><%=event.display_name%> - <%= event.registry_therapy_room.display_name%> - <%= patient.display_name%></p>
                              <%valueSet = true%>
                            <% end %>
                          <%end%>
                        <% end %>
                      <%end%>
                    <% end %>
                  </td>
                  <%valueSet = false%>
                <% end %>
              </tr>
              <% start += 1.hour %>
            <% end %>
            <% start = Date.new.beginning_of_day + 7.hours%>
          <% end %>
          
        </tbody>
      </table>
    <%end%>
  </end>
<%end%>