<!doctype html>
<html>
<head>
	<meta charset='utf-8' />
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
	<%= wicked_pdf_stylesheet_link_tag "asistencia" -%>
	<%= wicked_pdf_javascript_include_tag "number_pages" %>
	<style>
		.alwaysbreak { page-break-before: always; }
		.nobreak:before { clear:both; }
		.nobreak { page-break-inside: avoid; }
		thead { display: table-header-group }
		tfoot { display: table-row-group }
		tr { page-break-inside: avoid }
	</style>
</head>
<body onload='number_pages()'>
	<div id="header">
		<%= wicked_pdf_image_tag 'CIE_logo.png', width: "100px" %>
		<span style="float:right; text-align:right">Período <em><%=@report_type != :employee_month ? "#{@start_date.to_date.beginning_of_week} - #{@start_date.to_date.end_of_week - 2.days}" : "#{@start_date.to_date.beginning_of_month.beginning_of_week} - #{@start_date.to_date.end_of_month.end_of_week - 2.days}"%></em> 
			<br> 
			<% if @report_type == :coordinador_covered_report %>
				<h2 style="color: #ddd"><%=@report_scenario%></h2>
			<%else%>
				<h2 style="color: #ddd">Horario <%=@report_scenario%></h2>
			<%end%>
		</span>
	</div>
	<div id="content">
		<main>
			<div class="" id="week_calendar_container">
					<% if @report_type == :coordinador_covered_report%>
						<%= render partial: "boss_month_covered_hour", :formats => [:html]%>
					<% else%>
						<% if @report_type == :employee_month%>
							<%begin_of_month = @start_date.to_date.beginning_of_month.beginning_of_week%>
							<%end_of_month = @start_date.to_date.end_of_month.end_of_week%>
							<% while begin_of_month < end_of_month do %>
								<% @start_date = begin_of_month %>
								<%= render partial: "week_calendar", :formats => [:html]%>
								<% begin_of_month += 1.week %>
							<%end%>
						<% elsif @report_type == :hour_report %>
							<%= render partial: "week_hours_employee", :formats => [:html]%>
						<% elsif @report_type == :hour_covered_report %>
							<%= render partial: "week_covered_hours_employee", :formats => [:html]%>
						<% else %>
							<%= render partial: "week_calendar", :formats => [:html]%>
						<% end %>
					<%end%>
			</div>
		</main>
	</div>
</body>
</html>